# See https://atom.io/docs/latest/creating-a-package#menus for more details

# 'context-menu':
#   '.overlayer':
#     'Convert html2jade': 'html2jade:convert'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'html2jade'
      'submenu': [
        { 'label': 'Convert', 'command': 'html2jade:convert' }
      ]
    ]
  }
]
